/* EventsPage.css */
.events-page {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.line {
    height: 1px;
    background-color: black;
    margin: 10px 20px;
}

.content {
    margin-top: 20px;
}